﻿
@{
    ViewBag.Title = "Login";
}
<script>
    
    $(document).ready(MainFunction);

    function MainFunction() {
        $("#loginBtn").click(function (event) {
            event.preventDefault();
            //var data = new FormData();
            var data = new FormData();
            var login = $("#Login").val();
            var pass = $("#Password").val();

            $("#Password").val('');
          
            data.append("Login",login);
            data.append("Password", pass);
            var settings = {
                type: "POST",
                url: '@Url.Content("~/User/ValidateUser/")',
                contentType: false,
                processData: false,
                data: data,
                success: function (r) {
                    if (r.success == true)
                    {
                        sessionStorage["UserId"] = r.UserId;
                        sessionStorage["UserLogin"] = r.UserLogin;
                        window.location = '@Url.Content("~/Home/Index")';
                    }
                    else
                        alert("Wrong Username or Password");
                },
                error: function () {
                    alert("error");
                }

            }

            $.ajax(settings);
            return false;
        });
      
    }

</script>
<div class="container" style="width:400px">
   
  
    <div class="panel panel-default">
        <div class="panel-heading" ><h2>Login</h2></div>
        <div class="panel-body">
            <div class="form-group" >
                <div class="input-group" >
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="Login" type="text" class="form-control" name="Login" placeholder="Login">
                </div>
                <br />

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="Password" type="password" class="form-control" name="Password" placeholder="Password">
                </div>
                <br />
                <button  class="btn btn-primary" value="Submit" id="loginBtn">Submit </button> 

            </div>
        </div>


    </div>
</div>
<span style="color:red">@ViewData["error"]</span>