﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)

    <style>
        .navbar-default {
            background-color: #059183;
             border-color: #ffffff;
           
        }
        .nav.navbar-nav.navbar-right li a {
            color: white;
        }
        .nav.navbar-nav li a {
            color: white;
            font-size: medium;
        }
        .nav.navbar-nav li a:hover {
            color:white;
            transform:scale(1.5);
            transition-delay:0.01s;
         
        }
        .navbar-header .navbar-brand {
            color: white;
            font-size: xx-large;  
        }    
    </style>
</head>

<body>
   @if(@Session["user"]!=null)
    {
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="">Google Drive</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href='@Url.Content("~/Home/Index")'>Home</a></li>
                <li><a href="@Url.Content("~/Folder/ShowContents")">My Drive</a></li>
                
            </ul>


            <form class="navbar-form navbar-left" action="#">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" id="search" name="search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
          
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Url.Content("~/User/LogOut")"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
    }
    @RenderBody()

    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
   
</body>
</html>
