﻿@model Entities.UserDTO
@{
    ViewBag.Title = "Index";
}
<div class="container" style="width:600px;margin-top:50px">

    <div class="panel panel-info">
        <div class="panel-heading"><h2>@Model.Name</h2></div>
        <div class="panel-body">                  
            <br />
            @Model.Login
            <hr />
            @Model.Email
        </div>
       
    </div> 
</div>




