﻿body {
}


.folder {
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 50px;
    color: black;
    background-color: #bbc4cb;
  
    border-radius: 4px;
    border: solid 1px #059183;
    display: inline-block;
    font-size: 16px;
    position: relative;
}
.myThumbnail{

    width:160px;
    height:260px;
    margin:10px;
    height:auto;
    display:inline-block;
    border:1px thin #999ea1;


  

}
.myThumbnail:hover{
    transform:scale(1.1);
    transition-duration:0.4s;
}
hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
.myButton
{
    margin-left:40px; 
    background-color:#059183;
    padding: 10px 26px; 
    position:relative;
    box-shadow:0 2px 2px 0 #036f64;

}
.myButton:hover{
    background-color:#036f64;
    transform:scale(1.3);
    transition-duration:0.3s;

}
   .folder:hover{
        cursor:pointer;
        background-color:#999ea1;
        border:solid 1px white;
        color:black;
        transition-delay:0.05s;
    }
    .icon {
        font-size: 22px;
        display: inline;
        position: absolute;
        left: 5px;
        color: white;
    }
    .icon:hover
    {
        color:gray;
    }

    .overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 101;
        background-color: #bbc4cb;
        opacity: .5;
        filter: alpha(opacity=15);
        -moz-opacity: .15;
    }

    .web_dialog {
        left: 35%;
        top: 50%;
        width: 500px;
        height: 250px;
        background-color: White;
        border: 1px solid #bbc4cb;
        z-index: 104;
        display: none;
        position: fixed;
        margin-left: -100px;
        margin-top: -100px;
    }

    .dialog_title {
        background-color: Gray;
        padding: 2px;
        color: White;
        border-bottom: solid 2px #336699;
    }

        .dialog_title a {
            color: White;
            text-align: right;
        }

    .align_right {
        text-align: right;
    }

    .content {
        padding: 2px;
    }
   
